BOT_TOKEN=PASTE_TELEGRAM_BOT_TOKEN_HERE
BACKEND_API_URL=http://127.0.0.1:8000
BACKEND_SERVICE_TOKEN=
MINI_APP_URL=
ADMIN_CHAT_ID=PASTE_OWNER_TELEGRAM_ID_HERE
MANAGER_CHAT_IDS=PASTE_MANAGER_TELEGRAM_IDS_COMMA_SEPARATED

VISA_ADMIN_CHAT_IDS=PASTE_VISA_MANAGER_TELEGRAM_IDS_COMMA_SEPARATED
SPB_MANAGER_CHAT_IDS=PASTE_SPB_MANAGER_TELEGRAM_IDS_COMMA_SEPARATED
THAILAND_MANAGER_CHAT_IDS=PASTE_THAILAND_MANAGER_TELEGRAM_IDS_COMMA_SEPARATED
